@import "tailwindcss";
@plugin "daisyui";


@options {
  theme: "light";
}

@font-face {
    font-family: 'Barlow';
    src: url('/fonts/Barlow-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('/fonts/Poppins-ExtraBold.ttf') format('truetype');
}

@theme {
    /* Fonts */
    --font-barlow: "Barlow", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-poppins-extrabold: "Poppins-ExtraBold", sans-serif;

    /* Tema Warna Utama */
    --color-latar: #F0F4F8;
    --color-teks: #1E293B;           
    --color-teks-samping: #64748B;   
    --color-garis: #E2E8F0;          
    --color-hijau: #0EA5E9;          
    --color-merah: #FDA4AF;          
    --color-biru: #38BDF8;           
    --color-kuning: #BAE6FD;         
    
    /* 🌟 KUNCI WARNA SOFT BLUE */
    --color-soft-dark: #0369A1;
    --color-soft-light: #E0F2FE;
    --color-soft-button: #0284C7;
}

body {
    margin: 0;
    font-family: var(--font-poppins);
    background-color: var(--color-latar);
    color: var(--color-teks);
}